@import '../../styles/basics.scss';



.body {
    padding-right: 5%;
    padding-left: 3%;
    height: fit-content;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15vw, 1fr));
    column-gap: 1.5rem;
    row-gap: 1.5rem;;
    padding-left: -1.5%;
}

.item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 1vw;
    transition: all 200ms;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 0.005vw solid #cccccc;
}

.item:hover {
    margin: -0.4vw;
    -webkit-box-shadow: 7px 7px 10px -9px #cccccc; 
    box-shadow: 14px 14px 14px -7px #cccccc;
}


.placeImg {
    
    border-radius: 0.5vw;
    max-width: 90%;
    max-height: 90%;
    margin: 0.5vw;
    -webkit-box-shadow: 7px 7px 10px -9px ; 
    box-shadow: 7px 7px 2px -9px #cccccc;
    
}

.item:hover .placeImg{
    transform: scale(1.04);
}

.name{
    font-size: 1.5vw;
    letter-spacing: 0.06vw;
    color: $color-text;
    font-family: $font-primary; 
    font-weight: normal;
    text-shadow: 0px 2px 2px rgba(255, 255, 255, 0);
    padding-left: 1vw;
    text-align: left;
}

.city{
    color: $color-text;
    letter-spacing: 0.02vw;
    font-size: 0.9vw;
    text-align: left;
    padding-left: 1vw;
    font-family: $font-secondary;
    text-shadow: 0px 2px 2px rgba(255, 255, 255, 0);
}

.ranking{
    color: grey;
    font-weight: 100;
    font-size: 1.2vw;
    font-family: $font-secondary;
    padding-right: 1vw;
}

.title{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
    margin-top: -1.5vw;
    margin-bottom: -2vw;
}



.topBar{
    justify-content: space-evenly;
    
}

//Back to top, footer arrow

.to-top{
	color: $color-secondary;
	padding-top: 6vw;
	display:inline-block;/* or block */
	position:relative;
	border-color: $color-secondary;
	text-decoration:none;
	transition:all .3s ease-out;
    font-size: 3vw;
}
.to-top:before{
	content:'▲';
	font-size: 2vw;
	position:absolute;
	top:0;
	left:50%;
	margin-left: -2.5vw;
	border:solid .13em $color-secondary;
	border-radius: 10vw;
	width: 4vw;
	height: 4vw;
	border-color:inherit;
	transition:transform .5s ease-in;
}
.to-top:hover{
	color: $color-primary;
	border-color: $color-primary;
}
.to-top:hover:before{
	transform: rotate(360deg);
}

//Back to top, footer arrow

@media (max-width: 992px) {

    .grid{
        grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
    }
    
    .placeImg{
        border-radius: 1vw;
    }

    .item{
        border-radius: 2vw;
    }

    .name{
        font-size: 2vw;
    }

    .city{
        font-size: 1.5vw;
    }

    .ranking{
        font-size: 2.5vw;
    }

}


@media (max-width: 768px) {
    .grid{
        grid-template-columns: repeat(auto-fill, minmax(28vw, 1fr));
    }

    
}

@media (max-width: 574px) {
    
}

@media (max-width: 360px) {
    
}

@media (max-width: 360px) {
    
}