@import '../../styles/basics.scss';

.places{
    border-radius: 2.7vw;
    width: 80%;
    height: 100vw;
    border: 0.1px solid grey;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    position: absolute;
    pointer-events: none;
    z-index: 2;
}

.placeContainer{
    margin-top: -100%;
    padding: 10%;
    z-index: 2;

}

.gridContainer{
    margin-top: 5vw;
}

.imgItem{
    border-radius: 2.7vw;
    margin-top: 5%;
    height: 40%;
    width: 90%;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    object-fit: cover;
    z-index: 1;
}

.headerText{
    column-count: 3;
    z-index: 2;
    top: 50%;
}

.placesTitle{
    z-index: 2;
    font-size: 6vw;
    color: $color-text;
    text-align: left;
    display:inline;
    font-family: $font-primary; 
    font-weight: bold;
}

.placesSubTitle{
    bottom: 0;
    margin-left: 7vw;
    font-size: 2vw;
    text-align: left;
    font-family: $font-secondary;
    font-weight: bold;
    z-index: 2;
}

.rankingItem{
    margin-right: 7vw;
    color: $color-text;
    font-weight: 700;
    font-size: 3vw;
    font-family: $font-secondary;
    z-index: 2;

}

.items {
    z-index: 2;
    float: left;
    column-count: 2;
    margin-bottom: 5%;
    margin-left: 5%;
}

.itemsText{
    font-size: 2vw;
    display:inline;
    z-index: 2;
}

.roundedRectangle {
    display: flex;
    justify-content: space-evenly;
    padding: 0.5vw;
    height: 3vw;
    width: 15vw;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 55px;
    font-family: $font-primary;
    font-style: normal;
    font-weight: bold;
    font-size: auto;
    align-items: center;
    z-index: 2;

    color: #000000;

}

@media (max-width: 1300px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
    
}

@media (max-width: 574px) {
    .imgItem{
        height: 25%;
        
    }


    .places{
        height: 110%;
        
    }

    .items{
        margin-left: 0;
    }

    .itemsText{
        font-size: 3vw;
        font-weight: bold;
    }
    
    .roundedRectangle {
        height: 5vw;
        width: 35vw;
        font-size: 2.5vw;
    }
}

@media (max-width: 360px) {
    .places{
        height: 80%;    
    }
}

@media (max-width: 360px) {
    
}